.parent{
    padding: 25px;
    background-color: rgb(180, 187, 181);
    display: flex;
    gap: 30px;
    justify-content: space-between;
    height: 350px;
    align-items: start;
}
.child{
    border: 2px solid rgb(15, 158, 160);
    background-color: rgb(187, 228, 229);
    padding: 20px;
    font-size: 28px;
    margin: 10px 0;
}